fieldset {
    display: block;
    text-align: left;
    width: 75%;
    margin: 0 auto;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

button {
    border-color: var(--text);
    color: var(--text);
    cursor: pointer;
    background-color: var(--bg);
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
}

button.active {
    color: var(--bg);
    background-color: var(--text);
}

.idyllic {
    display: flex;
    flex-direction: row;
}

.half {
    width: 50%;
    /* border-right: solid var(--text) 1px; */
    height: 100%;
    margin-right: 1rem;
}

.clock-buttons {
    anchor-name: --tethers;
    position: relative;
    height: 10rem;

    button {
        position: absolute;
        transform: translate(-50%, -50%);

        &[data-pos="N"] {
            left: 50%;
            transform: translateX(-50%);
        }

        &[data-pos="NE"] {
            left: 70%;
            top: 25%;
        }

        &[data-pos="E"] {
            left: 90%;
            top: 50%;
        }

        &[data-pos="SE"] {
            left: 70%;
            top: 75%;
        }

        &[data-pos="S"] {
            left: 50%;
            top: 90%;
        }

        &[data-pos="SW"] {
            left: 30%;
            top: 75%;
        }

        &[data-pos="W"] {
            left: 10%;
            top: 50%;
        }

        &[data-pos="NW"] {
            left: 30%;
            top: 25%;
        }
    }
}

.tether-help {
    margin-left: 1rem;
    position: absolute;
    position-anchor: --tethers;
    position-area: right;
}